<!DOCTYPE html>
<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      <div class="content">
        {%if page.comments %}
          {% assign sorted_comments = (page.comments | sort: 'date') %}
        {% endif %}
        {% for c in sorted_comments %}
          <div class="media">
            <div class="media-left">
              <img src="{{ c.author.picture }}" alt="{{ c.author.displayName}}" height="73" width="73">
            </div>
            <div class="media-body">
              <p class="text-muted">
                <a href="{{ c.author.url }}">{{ c.author.displayName }}</a>
                on {{ c.date | date_to_string }}
              </p>
              <p>{{ c.content | newline_to_br }}</p>
            </div>
          </div>
        {% else %}
          There are no messages yet.
        {% endfor %}
        {% include commentit.html %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
